[submodule "thirdParty/pmp-library"]
	path = thirdParty/pmp-library
	url = https://github.com/pmp-library/pmp-library.git
[submodule "thirdParty/GeometricTools"]
	path = thirdParty/GeometricTools
	url = https://github.com/davideberly/GeometricTools.git
[submodule "conformal_geom/CG2020"]
	path = conformal_geom/CG2020
	url = https://github.com/Szkered/CG2020.git
[submodule "conformal_geom/ConformalGeometry"]
	path = conformal_geom/ConformalGeometry
	url = https://github.com/lilinxi/ConformalGeometry.git
[submodule "conformal_geom/hyperbolic-ricci-flow"]
	path = conformal_geom/hyperbolic-ricci-flow
	url = https://github.com/IngInx747/hyperbolic-ricci-flow.git
[submodule "conformal_geom/Conformal-Geometry"]
	path = conformal_geom/Conformal-Geometry
	url = https://github.com/feiii/Conformal-Geometry.git
[submodule "conformal_geom/ComputationalGeometry_XingxinHE"]
	path = conformal_geom/ComputationalGeometry_XingxinHE
	url = https://github.com/XingxinHE/ComputationalGeometry.git
[submodule "conformal_geom/Computation-Conformal-Geometry"]
	path = conformal_geom/Computation-Conformal-Geometry
	url = https://github.com/HerdMoon/Computation-Conformal-Geometry.git
[submodule "thirdParty/icesl/anisotropic_appearance_fabrication"]
	path = thirdParty/icesl/anisotropic_appearance_fabrication
	url = https://github.com/mfx-inria/anisotropic_appearance_fabrication.git
[submodule "thirdParty/icesl/auxeticgrowthprocess2d"]
	path = thirdParty/icesl/auxeticgrowthprocess2d
	url = https://github.com/mfx-inria/auxeticgrowthprocess2d.git
[submodule "thirdParty/icesl/byextopopt"]
	path = thirdParty/icesl/byextopopt
	url = https://github.com/shapeforge/byextopopt.git
[submodule "thirdParty/icesl/curlnoisejittering"]
	path = thirdParty/icesl/curlnoisejittering
	url = https://github.com/jonasmb/curlnoisejittering.git
[submodule "thirdParty/icesl/curvislicer"]
	path = thirdParty/icesl/curvislicer
	url = https://github.com/mfx-inria/curvislicer.git
[submodule "thirdParty/icesl/controllable-space-filling-curve"]
	path = thirdParty/icesl/controllable-space-filling-curve
	url = https://github.com/mfx-inria/controllable-space-filling-curve.git
[submodule "thirdParty/icesl/icesl-vrprinter"]
	path = thirdParty/icesl/icesl-vrprinter
	url = https://github.com/mfx-inria/icesl-vrprinter.git
[submodule "thirdParty/icesl/phasornoise"]
	path = thirdParty/icesl/phasornoise
	url = https://github.com/mfx-inria/phasornoise.git
[submodule "thirdParty/icesl/raster2mesh"]
	path = thirdParty/icesl/raster2mesh
	url = https://github.com/sylefeb/raster2mesh.git
[submodule "thirdParty/icesl/shrink-morph"]
	path = thirdParty/icesl/shrink-morph
	url = https://github.com/DavidJourdan/shrink-morph.git
[submodule "thirdParty/icesl/Silice"]
	path = thirdParty/icesl/Silice
	url = https://github.com/sylefeb/Silice.git
[submodule "thirdParty/icesl/StarDEM"]
	path = thirdParty/icesl/StarDEM
	url = https://github.com/schreckc/StarDEM.git
[submodule "thirdParty/icesl/starshaped2d"]
	path = thirdParty/icesl/starshaped2d
	url = https://github.com/mfx-inria/starshaped2d.git
[submodule "thirdParty/icesl/3D_star_shaped_growth_method"]
	path = thirdParty/icesl/3D_star_shaped_growth_method
	url = https://github.com/SemyonEfremov/3D_star_shaped_growth_method.git
[submodule "thirdParty/icesl/Variable-width-contouring"]
	path = thirdParty/icesl/Variable-width-contouring
	url = https://github.com/mfx-inria/Variable-width-contouring.git
